:root {
    --blue-500: blue; /* Ensure the variable is defined */
}

.bookc {
    display: flex;
    gap: 50px;
    /* Align items vertically by default */
    flex-direction: row; /* This can be omitted since row is the default */
}

.bookimg {
    border-radius: 10px;
    max-width: 250px;
    height: fit-content;
    margin-left: 10px;
}

#title {
    border-left: 10px solid black;
    font-family: 'Righteous';
    background: transparent; 
    transition: background 0.9s; 
}

#title:hover {
    background: linear-gradient(to right, var(--primary-200), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255)); /* Gradient from left to right */
}

#st {
    font-family: 'Righteous';    
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .bookc {
        flex-direction: column; /* Change to column on smaller screens */
        align-items: center; /* Center align items in column layout */
    }

    .bookimg {
        margin-left: 0px;
        max-width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}
.bookcstyle {
    box-shadow: 1px 0px 2px rgb(72, 70, 70); /* Shadow effect */
    border-radius: 10px;           /* Rounded corners */
    padding: 10px;                 /* Inner spacing */
    margin: 10px;                  /* Outer spacing */
}
